*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 720px){
     .navbar{
        display: none;
    }
    .container2{
        position: absolute;
        margin-left: 320px;
        background-color: grey;
        z-index: 2;
    }
    .container{
        position: absolute;
        background-color: black;
        margin-top: -50px;
        margin-left: 5px;
        width: 400px;
        z-index: 1;
    }
    .container1{
        margin-left: 320px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    .pic{

        width: 200px;
        height: 250px;
        margin-top: 5px;
        margin-left: 30px;
        filter: opacity(60%) brightness(120%);
        background-image: url(echo-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .gradient-overlay {
        
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0, 10), rgba(0,0,0, 0.2));
    
      }
    .intro h2{
        position: relative;
        font-size: 10vw;
        color: black;
        -webkit-text-stroke: 0.3vw white;
        text-transform: uppercase;
      
      }
    
    h2::before{
       content: attr(data-text);
       position: absolute;
       top:-10px;
       left: 9px;
       width: 100%;
       height: 100%;
       color: white;
       -webkit-text-stroke: 0vw black;
       overflow: hidden;
     
    }  
    .wrapper1 p{
        font-size: 15px;
        margin-top: -10px;
        margin-left: -160px;
    }
    
    .wrapper{
     
        display: inline-flex;
        font-family: fantasy;
        font-variant: small-caps;
        font-size: 25px;
        margin-top:-50px;
        margin-left: 10px;
        width:100%;
        height: 70px;
    
    }
    .wrapper1{
        display: inline-block;
        font-size: 15px;
        margin-top:-50px;
        width:400px;
        margin-left: 5px;
        margin-top: 25px;
        height: 100px;
    
       
    }
    
    .wrapper :nth-child(2){
        position: relative;
        color: black;
        left: 20px;
        -webkit-text-stroke: 0.3vw black;
    
       
      }
    .wrapper :nth-child(3){
        position: relative;
        color: black;
        left: 25px;
        -webkit-text-stroke: 0.3vw black;
    
       
      }
    .wrapper :nth-child(2)::before{
       content: attr(data-text);
       position: absolute;
       top:0;
       left: 0px;
       width: 100%;
       height: 100%;
       color: white;
       -webkit-text-stroke: 0vw white;
       animation: animate 2s steps(10);
       animation-fill-mode: forwards;
       border: none;
       overflow: hidden;
      
      
    
    }
    .wrapper :nth-child(3)::before{
        content: attr(data-text);
        position: absolute;
        top:0;
        left:0;
        width: 0;
        height: 100%;
        color: white;
        -webkit-text-stroke: 0vw white;
        animation: animate 2s steps(10);
        animation-fill-mode: forwards;
        overflow: hidden;
        animation-delay: 2s;
     
       
     
     }
    @keyframes animate{
        0%{
            border-right: 2px solid white;
            width:0%;
        }
        
        70%,100%{
            border-right: 2px solid white;
            width:100%;
           
        }
        100%{
            border: none;
        }
    }
    .box{
      display:flex;
      background-color: black;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      margin-top: 50px;
      width: 400px;
      height: 400px;
      opacity: 0.9;
      color: white;


    }
    .intro{
        opacity: 0.3;
        display: inline-block;
        width: 150px;
        height: 200px;
        margin-top: -10px;
        margin-left:-10px;
    }
    .kahon::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        background-image: url(sunset.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        bottom: -3200px;
        left: 0px;
        opacity: 0.2;
     
    }
    .box1{
        position: absolute;
        display:flex;
        flex-wrap: warap;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        width: 400px;
        height: 950px;
        margin-top: 50px;
        background-color:#F8F8FF;
        z-index: 1;
    }
    .flip-card{
        width: 200px;
        height: 250px;
        border-radius: 15px;
        margin-left: 150px;
        margin-top: -110px;
    
    }
    .flip-card img{
        width: 200px;
        height: 250px;
        filter: grayscale(30%);
        border-style: outset;
        border-width: 10px;
        clip-path: polygon(27% 1%, 100% 0, 100% 66%, 72% 99%, 0 100%, 0 28%);
      
    }
    .flip-card-inner{
        position:relative;
        width: 100%;
        height: 100%;
        text-align: justify;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 10px 15px 25px 0px black;
    
    }
    .flip-card:hover .flip-card-inner{
        transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back{
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
    }
    
      .flip-card-back {
        background-color:  black;
        color: white;
        transform: rotateY(180deg);
        border-style: ridge;
        border-width: 10px;
      }
      .flip-card-back p{
        margin-left: 10px;
        font-size: 20px;
        font-variant: small-caps;
        font-family: fantasy;
      }
      .flip-card-back h1{
        margin-left: 10px;
        font-size: 30px;
        font-variant: small-caps;
        font-family: fantasy;
      }
      .row{
        width: 100%;
        height: 100%;
        align-items: center;
    
    
      }
      .info{
        position: absolute;
         width: 380px;
         margin-top: -860px;
         margin-left: 5px;
         border-top: 2px solid black;
         z-index: 1;
     
    
      }
      .col-md-4{
          margin-bottom: 140px;
      }
      .info h1{
        position: absolute;
        color: transparent;
        font-size: 55px;
        font-family: fantasy;
        font-stretch: extra-expanded;
        
      }
      .info :nth-child(1){
       color: transparent;
       -webkit-text-stroke: 2px black;
      }
      .info :nth-child(2){
        color: black;
        animation: animated 4s ease-in-out infinite;
       }
       @keyframes animated {
        0%, 100%{
            clip-path: polygon(0 50%, 17% 48%, 35% 51%, 48% 59%, 66% 65%, 83% 63%, 100% 53%, 99% 99%, 1% 100%);
        }
        50%{
            clip-path: polygon(0 63%, 16% 57%, 35% 65%, 53% 62%, 68% 51%, 85% 41%, 100% 41%, 99% 99%, 1% 100%);
        }
       }
       .info2{
        align-items: center;
        margin-left: 10px;
        margin-top: 200px;
       }
       .info2 h1{
        color: transparent;
        position: absolute;
        font-size: 180px;
        font-family: fantasy;
        font-stretch: extra-expanded;
        -webkit-text-stroke: 2px lightgray;
       }
       .info1{
        align-items: center;
        margin-left: 10px;
        margin-top: 15px;
       }
       .info1 h1{
        color: transparent;
        position: absolute;
        font-size: 115px;
        font-family: fantasy;
        font-stretch: extra-expanded;
        -webkit-text-stroke: 2px  lightgray;
       }
       .slider{

        margin: 150px auto;
        overflow: hidden;
        
      
      }
      #slider{
        position: absolute;
        transform-style: preserve-3d;
        width: 400px;
        height: 50px;
        margin-left:10px;
        z-index: 3;
        perspective: 1800px;
        perspective-origin: 50%;
       
      
        
      }
      #slider label,
      #slider label img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        font-size: 50px;
        justify-content: center;
        transition: 1300ms ease;
        
      }
      #slider label img{
        width: 200px;
        border-style: double;
        border-color: white;
  
        border-width: 10px;
        
      }
      
      
      #slider label{
         margin-left: 100px;
         margin-top: 30px;
         width: 30%;
         height: 150px;
          z-index: 1;
      
       
      }
    
      input[type=radio]{
         position: relative;
         top: 108%;
         left:50%;
         width: 18px;
         height: 18px;
         margin: 0 15px 0 0;
         opacity: 0.4;
         transform: translateX(-83px);
         cursor: pointer;
        
      
      }
      input[type=radio]{
         visibility: hidden;
          opacity: 1;
      }
      
      
      
      
      #s1:checked ~ #slider1,
      #s2:checked ~ #slider2,
      #s3:checked ~ #slider3,
      #s4:checked ~ #slider4,
      #s5:checked ~ #slider5,
      #s6:checked ~ #slider6 {
        box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                    0px 12px 6px rgba(0,0,0,0.2);
        transform: translate3d(0%, -20px, 0px);
        height: 200px;
       
        
      }
      #s1:checked ~ #slider2,
      #s2:checked ~ #slider3,
      #s3:checked ~ #slider4,
      #s4:checked ~ #slider5,
      #s5:checked ~ #slider6,
      #s6:checked ~ #slider1 {
        box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                    0px 12px 6px rgba(0,0,0,0.2);
        transform: translate3d(20%, -5px, -100px);
        height: 160px;
        
      }
      #s1:checked ~ #slider3,
      #s2:checked ~ #slider4,
      #s3:checked ~ #slider5,
      #s4:checked ~ #slider6,
      #s5:checked ~ #slider1,
      #s6:checked ~ #slider2{
        box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                    0px 12px 6px rgba(0,0,0,0.2);
        transform: translate3d(40%, 10px, -250px);
        height: 130px;
      }
      #s1:checked ~ #slider4,
      #s2:checked ~ #slider5,
      #s3:checked ~ #slider6,
      #s4:checked ~ #slider1,
      #s5:checked ~ #slider2,
      #s6:checked ~ #slider3 {
        box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
                    0px 12px 6px rgba(0, 0, 0, 0.2);
       
        transform: translate3d(50%, 20px, -350px);
        height: 100px;
      }
      
      
      #s1:checked ~ #slider6,
      #s2:checked ~ #slider1,
      #s3:checked ~ #slider2,
      #s4:checked ~ #slider3,
      #s5:checked ~ #slider4,
      #s6:checked ~ #slider5 {
        box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                    0px 12px 6px rgba(0,0,0,0.2);
        transform: translate3d(-20%, -5px, -100px);
        height: 160px;
      }
      
      
      #s1:checked ~ #slider5,
      #s2:checked ~ #slider6,
      #s3:checked ~ #slider1,
      #s4:checked ~ #slider2,
      #s5:checked ~ #slider3,
      #s6:checked ~ #slider4{
        box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                    0px 12px 6px rgba(0,0,0,0.2);
         transform: translate3d(-40%, 10px, -250px);
         height:130px;
      }
      
      .boxx{
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 500px 500px;
        padding-top: 40px;
        box-shadow: 0px 20px 20px 0px black;
        width: 400px;
        height: 500px;
        margin-left: 5px;
        margin-top: 150px;
        background-image: url(fam.jpg) ;
        opacity: 0.9;
        z-index: 2;
        clip-path: polygon(0 0, 100% 1%, 100% 20%, 100% 81%, 43% 81%, 28% 100%, 0 100%, 0% 20%);
        
    
      }
      .gradient-overlay1 {
      color: #F8F8FF;
        margin-top: -40px;
        height: auto;
        width: 100%;
        height: 800px;
        background-image: linear-gradient(to bottom, rgba(0,0,0, 10), rgba(0,0, 0, 0.1));
        z-index: 2;
      }
      .kahon2{
        position: absolute;
        width: 400px;
        height: 1100px;
        margin-top: 1000px;
        z-index: 1;
      }
      .textbox{
        background-color: white;
        position: absolute;
        opacity: 0.9;
        width:380px;
        margin-left: 25px;
        margin-top: 205px;
        height: 450px;
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 80%, 42% 80%, 28% 100%, 29% 100%, 69% 100%);
      }
      #text{
        font-variant: small-caps;
        font-size: 15px;
        margin-left: 190px;
        margin-top: 360px;
      }
      #text1{
        margin-top: -10px;
        font-size: 20px;
        font-variant: small-caps;
        margin-left: 180px;
      }
       
    
    
}
@media(min-width: 900px){
.container1{
     display: none;
    
}
.container2{
    opacity: 0.8;
    margin-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 20px;
}
.pic{

    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    filter: opacity(60%) brightness(120%);
    background-image: url(echo-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.gradient-overlay {
    
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0, 10), rgba(0,0,0, 0.2));

  }
.intro h2{
    position: relative;
    font-size: 100px;
    color: black;
    -webkit-text-stroke: 0.3vw white;
    text-transform: uppercase;
  
  }

h2::before{
   content: attr(data-text);
   position: absolute;
   top:-10px;
   left: 9px;
   width: 100%;
   height: 100%;
   color: white;
   -webkit-text-stroke: 0vw black;
   overflow: hidden;
 
}  
.wrapper1 p{
    font-size: 20px;
    margin-top: -10px;
    margin-left: -210px;
}

.wrapper{
 
    display: inline-flex;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 35px;
    margin-top:-50px;
    margin-left: 10px;
    width:100%;
    height: 70px;
    color: white;

}
.wrapper1{
    display: inline-block;
    font-size: 20px;
    margin-top:-50px;
    width:400px;
    margin-left: 5px;
    margin-top: 25px;
    height: 100px;
    color: white;
   
}

.wrapper :nth-child(2){
    position: relative;
    color: black;
    left: 20px;
    -webkit-text-stroke: 0.3vw black;

   
  }
.wrapper :nth-child(3){
    position: relative;
    color: black;
    left: 25px;
    -webkit-text-stroke: 0.3vw black;

   
  }
.wrapper :nth-child(2)::before{
   content: attr(data-text);
   position: absolute;
   top:0;
   left: 0px;
   width: 100%;
   height: 100%;
   color: white;
   -webkit-text-stroke: 0vw white;
   animation: animate 3s steps(10);
   animation-fill-mode: forwards;
   border: none;
   overflow: hidden;
  
  

}
.wrapper :nth-child(3)::before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw white;
    animation: animate 3s steps(10);
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-delay: 3s;
 
   
 
 }
@keyframes animate{
    0%{
        border-right: 2px solid white;
        width:0%;
    }
    
    70%,100%{
        border-right: 2px solid white;
        width:100%;
       
    }
    100%{
        border: none;
    }
}
.box{
  position: absolute;
  display:flex;
  flex-wrap: warap;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  margin-top: -10px;
  width: 1020px;
  height: 450px;
  background-color: black;
  z-index: 1;

}
.intro{
    display:flex;
    flex-wrap: warap;
    opacity: 0.3;
    display: inline-block;
    width: 500px;
    height: 350px;
    margin-top: 100px;
    margin-left:80px;
    min-width: 100px;  
}
.kahon::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(sunset.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    bottom: -3200px;
    left: 0px;
    opacity: 0.2;
 
}

.container{
    display:flex;
    opacity: 0.9;
    background-color: black;
    margin-left: -1px;
    width: 1020px;
    margin-bottom: 10px;
    max-width: 5000px;
}
.box1{
    position: absolute;
    display:flex;
    flex-wrap: warap;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    width: 1020px;
    height: 750px;
    margin-top: 500px;
    background-color:#F8F8FF;
    z-index: 1;
}
.flip-card{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: -280px;
   

}
.flip-card img{
    width: 280px;
    height: 280px;
    filter: grayscale(80%);
    border-style: outset;
    border-width: 10px;
    clip-path: polygon(27% 1%, 100% 0, 100% 66%, 72% 99%, 0 100%, 0 28%);
   

}
.flip-card-inner{
    position:relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 10px 15px 25px 0px black;

}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
  .flip-card-back {
    background-color:  black;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back p{
    margin-left: 10px;
    font-size: 20px;
    font-variant: small-caps;
    font-family: fantasy;
  }
  .flip-card-back h1{
    margin-left: 10px;
    font-size: 50px;
    font-variant: small-caps;
    font-family: fantasy;
  }
  .row{
    width: 100%;
    height: 100%;
    align-items: center;


  }
  .info{
    position: absolute;
     width: 650px;
     margin-top: -600px;
     margin-left: 30px;
     border-top: 2px solid black;
     z-index: 1;

  }
  .info h1{
    position: absolute;
    color: transparent;
    font-size: 155px;
    font-family: fantasy;
    font-stretch: extra-expanded;
    
  }
  .info :nth-child(1){
   color: transparent;
   -webkit-text-stroke: 2px black;
  }
  .info :nth-child(2){
    color: black;
    animation: animated 4s ease-in-out infinite;
   }
   @keyframes animated {
    0%, 100%{
        clip-path: polygon(0 50%, 17% 48%, 35% 51%, 48% 59%, 66% 65%, 83% 63%, 100% 53%, 99% 99%, 1% 100%);
    }
    50%{
        clip-path: polygon(0 63%, 16% 57%, 35% 65%, 53% 62%, 68% 51%, 85% 41%, 100% 41%, 99% 99%, 1% 100%);
    }
   }
   .info2{
    align-items: center;
    margin-left: 80px;
    margin-top: -100px;
   }
   .info2 h1{
    color: transparent;
    position: absolute;
    font-size: 400px;
    font-family: fantasy;
    font-stretch: extra-expanded;
    -webkit-text-stroke: 2px lightgray;
   }
   .info1{
    align-items: center;
    margin-left: 30px;
    margin-top: -250px;
   }
   .info1 h1{
    color: transparent;
    position: absolute;
    font-size: 300px;
    font-family: fantasy;
    font-stretch: extra-expanded;
    -webkit-text-stroke: 2px  lightgray;
   }
   
   .slider{

    margin: 150px auto;
    overflow: hidden;
    
  
  }
  #slider{
    position: absolute;
    transform-style: preserve-3d;
    width: 600px;
    height: 400px;
    margin-left:250px;
    z-index: 3;
    perspective: 1800px;
    perspective-origin: 50%;
  
    
  }
  #slider label,
  #slider label img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    transition: 1300ms ease;
    
    

    
  }
  #slider label img{
    width: 350px;
    border-style: double;
    border-color: white;
    border-width: 10px;
    
  }
  
  
  #slider label{
     margin-left: 100px;
     margin-top: 30px;
     width: 30%;
     height: 150px;
      z-index: 1;
  
   
  }

  input[type=radio]{
     position: relative;
     top: 108%;
     left:50%;
     width: 18px;
     height: 18px;
     margin: 0 15px 0 0;
     opacity: 0.4;
     transform: translateX(-83px);
     cursor: pointer;
    
  
  }
  input[type=radio]{
     visibility: hidden;
      opacity: 1;
  }
  
  
  
  
  #s1:checked ~ #slider1,
  #s2:checked ~ #slider2,
  #s3:checked ~ #slider3,
  #s4:checked ~ #slider4,
  #s5:checked ~ #slider5,
  #s6:checked ~ #slider6 {
    box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                0px 12px 6px rgba(0,0,0,0.2);
    transform: translate3d(0%, -20px, 0px);
    height: 300px;
   
    
  }
  #s1:checked ~ #slider2,
  #s2:checked ~ #slider3,
  #s3:checked ~ #slider4,
  #s4:checked ~ #slider5,
  #s5:checked ~ #slider6,
  #s6:checked ~ #slider1 {
    box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                0px 12px 6px rgba(0,0,0,0.2);
    transform: translate3d(20%, -5px, -100px);
    height: 260px;
    
  }
  #s1:checked ~ #slider3,
  #s2:checked ~ #slider4,
  #s3:checked ~ #slider5,
  #s4:checked ~ #slider6,
  #s5:checked ~ #slider1,
  #s6:checked ~ #slider2{
    box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                0px 12px 6px rgba(0,0,0,0.2);
    transform: translate3d(40%, 10px, -250px);
    height: 230px;
  }
  #s1:checked ~ #slider4,
  #s2:checked ~ #slider5,
  #s3:checked ~ #slider6,
  #s4:checked ~ #slider1,
  #s5:checked ~ #slider2,
  #s6:checked ~ #slider3 {
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
                0px 12px 6px rgba(0, 0, 0, 0.2);
   
    transform: translate3d(50%, 20px, -350px);
    height: 200px;
  }
  
  
  #s1:checked ~ #slider6,
  #s2:checked ~ #slider1,
  #s3:checked ~ #slider2,
  #s4:checked ~ #slider3,
  #s5:checked ~ #slider4,
  #s6:checked ~ #slider5 {
    box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                0px 12px 6px rgba(0,0,0,0.2);
    transform: translate3d(-20%, -5px, -100px);
    height: 260px;
  }
  
  
  #s1:checked ~ #slider5,
  #s2:checked ~ #slider6,
  #s3:checked ~ #slider1,
  #s4:checked ~ #slider2,
  #s5:checked ~ #slider3,
  #s6:checked ~ #slider4{
    box-shadow: 0px 13px 26px rgba(0,0,0,0.3),
                0px 12px 6px rgba(0,0,0,0.2);
     transform: translate3d(-40%, 10px, -250px);
     height:230px;
  }
  
  .boxx{
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1020px 800px;
    padding-top: 40px;
    box-shadow: 0px 20px 20px 0px black;
    width: 1020px;
    height: 800px;
    margin-left: 0px;
    margin-top: 250px;
    background-image: url(fam.jpg) ;
    opacity: 0.9;
    z-index: 2;
    clip-path: polygon(0 0, 100% 1%, 100% 20%, 100% 81%, 43% 81%, 28% 100%, 0 100%, 0% 20%);
  

  }
  .gradient-overlay1 {
  color: #F8F8FF;
    margin-top: -40px;
    height: auto;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 10), rgba(0,0, 0, 0.1));
    z-index: 2;
  }
  .kahon2{
    position: absolute;
    width: 1020px;
    height: 1100px;
    margin-top: 1250px;
    z-index: 1;
  }
  .textbox{
    background-color: white;
    position: absolute;
    opacity: 0.9;
    width:950px;
    margin-left: 50px;
    margin-top: 360px;
    height: 700px;
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 80%, 42% 80%, 28% 100%, 29% 100%, 69% 100%);
  }
  #text{
    font-variant: small-caps;
    font-size: 25px;
    margin-left: 380px;
    margin-top: 580px;
  }
  #text1{
    margin-top: -10px;
    font-size: 30px;
    font-variant: small-caps;
    margin-left: 350px;
  }

}
